#activity-header {
	.activity-header-top{
		margin-bottom: 1rem;
		width: 100%;
		height: 15rem;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.activity-header-city {
		height: 3rem;
		color: #e465bf;
		font-size: 1.2rem;
		padding: 0 1rem;
		span:nth-child(2){
			color: #999;
			text-decoration:line-through;
			font-size: 0.9rem;
		}
	}
	.activity-header-desc{
		padding: 0 1rem;
		height: 8rem;
		color: #a5a3a4;
		h3{
			line-height: 2rem;
			font-size: 1.5rem;
			color: black;
		}
		p{
			line-height: 3rem;
		}
		span{
			display: inline-block;
			width: 7rem;
		}
	}
	.activity-header-img{
		padding: 0 1rem;
		height: 7rem;
	}
	.activity-header-addr{
		padding: 0 1rem;
		height: 12rem;
		.activity-header-addr-top{
			height: 5rem;
			display: flex;
			div:first-child{
				width: 5rem;
			}
			h4{
				line-height: 2rem;
			}
			p{
				line-height: 2rem;
				color: #7c7c7c;
			}
		}
		.activity-header-addr-middle{
			width: 100%;
			height: 4rem;
			display: flex;
			span{
				border: 1px solid #e4e4e4;
				width: 50%;
				height: 2.5rem;
				margin-right: 1rem;
				border-radius: 3px;
				line-height: 2.5rem;
				text-align: center;
			}
			span:last-child{
				margin-right: 0;
			}
		}
	}
}
#activity-desc{
	.activity-desc-top{
		padding: 0 1rem;
		div{
			height: 5rem;
			color: #727272;
			h2{
				line-height: 2rem;
			}
			h4{
				line-height: 2rem;
				color: #df62bb;
			}
			p{
				text-indent: 1rem;
				line-height: 2rem;
			}
		}
		div:first-child{
			height: 4rem;
		}
	}
	.activity-desc-middle{
		padding: 2rem;
		.activity-desc-middle-img{
			margin: 0 auto;
			width: 12rem;
			height: 3rem;
			text-align: center;
			img{
				width: 100%;
			}

		}
		.activity-desc-middle-desc{
			li{
				line-height: 2rem;
				color: #9347b6;
			}
			span{
				display: inline-block;
				background: #9347b6;
				color: white;
				width: 1rem;
				height: 1rem;
				text-align: center;
				line-height: 1rem;
				margin-right: 0.5rem;
			}
		}
	}
	.activity-desc-buttom{
		padding: 1rem;
		h3{
			height: 3rem;
			line-height: 2rem;
			color: #784f83;
		}
	}
}
#activity-buy{
	height: 3.5rem;
	margin-left: 1rem;
	display: flex;
	div {
		line-height: 3.5rem;
	}
	div:first-child{
		width: 68%;
		span:first-child{
			color: #e461ad;
			font-size: 1.5rem;
			font-weight: bold;
			margin-right: .5rem;
		}
		span:last-child{
			color: #999;
			text-decoration:line-through;
		}
	}
	div:last-child{
		width: 12rem;
		height: 3.5rem;
		button{
			width: 100%;
			height: 100%;
			background: #e461ad;
			border: none;
			color: white;
			font-size: 1.5rem;
		}
	}
}