#call-phone {
	position: fixed;
	top: 37%;
	right: 0;
	width: 4rem;
	z-index: 9999;
	div{
		width: 4rem;
		height: 4rem;
		text-align: center;
		line-height: 4rem;
		font-size: 2.5rem;
		color: #fff;
		background: #e982cb;
		border-radius: 50%;
		margin-top: 0.5rem;
	}
	div:last-child{
		padding-top: 0.3rem;
	}
}