.recommend {
	text-align: center;
	line-height: 2rem;
	margin: 1rem;
	display: inline-block;
	box-sizing: border-box;
	.recommend-img{
		width: 100%;
		div{
			margin: 0 auto;
			width: 5rem;
			height: 5rem;
			overflow: hidden;
			border-radius: 50%;
			img{
				width: 100%;
				height: 100%;
			}

		}
	}
	.recommend-title{
		padding-top: .5rem;
		h3{
			font-size: 1.3rem;
		}
	}
	.recommend-desc{
		p{
			font-size: 1rem;
			color: #ccc;
		}
	}
}