#home-header {
    padding: 10px;

    * {
        color: #fff;
        font-size: 16px;
        line-height: 1;
    }
}
.home-header-left {
}
.home-header-middle {
    width: auto;
    margin: 0 30px 0 30px;

    .search-container {
        background-color: #fff;
        border-radius: 15px;
        border: 1px solid #ccc;
        overflow: hidden;
        padding: 5px;

        i {
            color: #ccc !important;
        }
    }
}
.home-header-right {
}